<div class="zx-slider-wrapper">
  <div class="zx-slider">

    <div class="zx-slide">
      <img src="https://img10.hkrtcdn.com/43304/bnr_4330339_o.jpg" alt="Banner 1">
    </div>

    <div class="zx-slide">
      <img src="https://img8.hkrtcdn.com/43304/bnr_4330337_o.jpg" alt="Banner 2">
    </div>

    <div class="zx-slide">
      <img src="https://img6.hkrtcdn.com/43304/bnr_4330335_o.jpg" alt="Banner 2">
    </div>

  </div>
</div>

<style>
.zx-slider-wrapper {
  overflow: hidden;
  position: relative;
  background: #111;
}

.zx-slider {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.zx-slide {
  min-width: 100%;
  height:100%;
}

.zx-slide img {
  width: 100%;
  {% comment %} height: 60vh; {% endcomment %}
  object-fit: cover;
  display: block;
}

/* Responsive */
@media (max-width: 768px) {
  .zx-slide img {
    height: 45vh;
  }
}
</style>

<script>
document.addEventListener("DOMContentLoaded", function () {
  let index = 0;
  const slides = document.querySelectorAll(".zx-slide");
  const slider = document.querySelector(".zx-slider");

  setInterval(() => {
    index = (index + 1) % slides.length;
    slider.style.transform = "translateX(-" + index * 100 + "%)";
  }, 3000);
});
</script>

{% schema %}
{
  "name": "Simple Image Slider",
  "settings": []
}
{% endschema %}
